body {
    font-family: "Noto Sans", serif;
    background-color: #5b5f54;
    padding: 30px;
}

.navbar {
    width: 100%;
    background-color: #a7afa7;
    text-align: center;
    justify-content: space-around;
    display: flex;
    padding: 15px 0;
}

.navbar a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 15px;
    background-color: #a7afa7;
    color: 	#232d22;
}

.navbar a:hover {
    background-color: beige;
}

.body-section {
    display: flex;
    margin: 10px 10px;
}

.side-profile {
    background-color: #e0ebdc;
    border: 4px solid #898d7c;
    text-align: center;
    padding: 10px 15px;
    height: 535px;
}

#sideprofile-img {
    text-align: center;
    margin: auto;
}

.sideprofile-info {
    text-align: center;
    margin: auto;
}

.main-body {
    width: 80%;
    background-color: #e0ebdc;
    border: 4px solid #898d7c;
    text-align: center;
    margin: 0 10px 0 10px;
    float: right;
}

.main-content {
    padding: 20px 70px;
    
}

div.card {
    width: 260px;
	background-color: #a7afa7;
	text-align: left;
	border-radius: 10px;
	border:3px solid #5b5f54;
	padding:20px;
	margin: 10px 5px;
}

.parentcards {
    display: flex;
	justify-content: space-evenly;
	margin: 0 -5px;
	flex-wrap: wrap;
}

div.activity-cards {
    width: 305px;
	background-color: #a7afa7;
	text-align: left;
	border-radius: 10px;
	border:3px solid #5b5f54;
	padding:20px;
	margin: 10px 5px;
}

..activity-parentcards {
    display: flex;
	justify-content: space-evenly;
	margin: 0 -5px;
	flex-wrap: wrap;
}

#img-bg {
    width: 100%;
}

@media (max-width: 780px) {
    .body-section {
        display: block;
    }
    .main-body {
        width: 100%;
        margin: 10px 0 10px 0;
    }
    .side-profile {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        margin: 0 -5px;
        flex-wrap: wrap;
        height: 310px;
    }
}