body {
    padding: 15px;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: grey;
    text-align: center;
}

.body-section {
    display: flex;
    margin: 10px 10px;
}

.side-profile {
    width: 40%;
    height: 530px;
    background-color: gray;
    text-align: center;
    padding: 10px;
}

.main-body {
    width: 83%;
    height: 530px;
    background-color: grey;
    text-align: center;
    margin: 0 10px 0 10px;
}

@media (max-width: 770px) {
    .body-section {
        display: block;
    }
    .main-body {
        width: 100%;
        height: 340px;
        margin: 10px 0 10px 0;
    }
    .side-profile {
        width: 100%;
        height: 70px;
        text-align: center;
    }
}